@import '/node_modules/bootstrap/scss/bootstrap.scss';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,900&display=swap');

$primaryColor: #eb3d27;

* {
    box-sizing: border-box;
}

body {
    text-align: center;
    font-size: 100%;
    margin: 0;
    padding: 0;
    background-color: white;
}

header {
    padding: 25px 0;
    background: repeating-linear-gradient(
        45deg,
        #eb3d27,
        #eb3d27 10px,
        #f6751f 10px,
        #f6751f 20px,
        #ffb106 20px,
        #ffb106 30px,
        #6ecb30 30px,
        #6ecb30 40px,
        #5080cd 40px,
        #5080cd 50px,
        #875db4 50px,
        #875db4 60px
    );

    box-shadow: 0 20px 0 white;
}

header .logo {
    width: 100%;
    max-width: 400px;
}

article {
    display: table;
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
    padding: 100px 50px;
}

a {
    color: $primaryColor;
    text-decoration: none;
}