@import '/node_modules/bootstrap/scss/bootstrap.scss';
$primaryColor: #eb3d27;
$discordMainColor: #5865F2;

* {
  box-sizing: border-box;
}

body {
  font-size: 100%;
  margin: 0;
  padding: 0;
  background-color: white;
}

header {
  position: relative;
  background: repeating-linear-gradient(45deg,
      #eb3d27,
      #eb3d27 10px,
      #f6751f 10px,
      #f6751f 20px,
      #ffb106 20px,
      #ffb106 30px,
      #6ecb30 30px,
      #6ecb30 40px,
      #5080cd 40px,
      #5080cd 50px,
      #875db4 50px,
      #875db4 60px);

  box-shadow: 0 20px 0 white;
}

header .logo {
  padding-top: 25px;
  width: 100%;
  font-size: 100px;
}

footer {
  font-family: "Montserrat";
  position:relative;
  background: repeating-linear-gradient(
      45deg,
      #eb3d27,
      #eb3d27 10px,
      #f6751f 10px,
      #f6751f 20px,
      #ffb106 20px,
      #ffb106 30px,
      #6ecb30 30px,
      #6ecb30 40px,
      #5080cd 40px,
      #5080cd 50px,
      #875db4 50px,
      #875db4 60px
  );

  box-shadow: 0 20px 0 white;
}

article {
  display: table;
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
  padding: 25px;
}

article h1 {
  font-size: 16px;
}

h1.headline {
  font-size: 20px;
  font-weight: bold;
}

h1.logo {
  color: #fcedd8;
  font-weight: 700;
  text-shadow: 2px 2px 0px #eb452b,
    4px 4px 0px #efa032,
    6px 6px 0px #46b59b,
    8px 8px 0px #017e7f,
    10px 10px 0px #052939,
    12px 12px 0px #c11a2b,
    14px 14px 0px #c11a2b,
    16px 16px 0px #c11a2b,
    18px 18px 0px #c11a2b;
}

a {
  color: $primaryColor;
  text-decoration: none;
}

a.outlined {
  text-shadow: 2px 2px rgba(255, 255, 255, 0.527);
}

a.light {
  color: white;
  text-shadow: 2px 2px rgba(0, 0, 0, 0.5);
}

p.subTitle {
  text-shadow: 2px 2px rgba(0, 0, 0, 0.247);
  font-weight: 800;
  font-size: 20px;
  color: white;
  text-transform: uppercase;
}

.waves {
  position: relative;
  width: 100%;
  height: 15vh;
  margin-bottom: -7px;
  /*Fix for safari gap*/
  min-height: 100px;
  max-height: 150px;
}

/* Animation */

.parallax>use {
  animation: move-forever 25s cubic-bezier(.55, .5, .45, .5) infinite;
}

.parallax>use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 7s;
}

.parallax>use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 10s;
}

.parallax>use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 13s;
}

.parallax>use:nth-child(4) {
  animation-delay: -5s;
  animation-duration: 20s;
}

@keyframes move-forever {
  0% {
    transform: translate3d(-90px, 0, 0);
  }

  100% {
    transform: translate3d(85px, 0, 0);
  }
}

/*Shrinking for mobile*/
@media (max-width: 768px) {
  .waves {
    height: 40px;
    min-height: 40px;
  }
}

.card {
  width: 18rem;
  margin-bottom: 20px;
}

.card-img-caption {
  border-top-left-radius: calc(.25rem - 1px);
  border-top-right-radius: calc(.25rem - 1px);
}

.card-img-caption .card-img-top {
  z-index: 0;
}

.card-img-caption .card-text {
  margin: 45% 10;
  position: absolute;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 3px;
  font-size: 12px;
  border-radius: 15%;
}